<b>Sets in Python</b><br>
values need to be unique

In [2]:
#repeated values are ignored and printed in order
set1={'pop', 'rock', 'hard rock' , 'soul', 'rock', 'R&B', 'rock'}
set1

{'R&B', 'hard rock', 'pop', 'rock', 'soul'}

In [3]:
#convert list to set
l=['michael Jackson',10.1, 1982,'MJ',1]
l= set(l)
l

{1, 10.1, 1982, 'MJ', 'michael Jackson'}

<b>Set Operations</b>

In [5]:
A = {'thriller', 'back in black' ,'AC/DC'}

In [7]:
# adding elements to set
A.add("NSY/NC")
A

{'AC/DC', 'NSY/NC', 'back in black', 'thriller'}

In [8]:
#remove an element from set
A.remove("thriller")
A

{'AC/DC', 'NSY/NC', 'back in black'}

In [9]:
# we can verify if elememt is in the list using 'in' it returns a boolean value
"AC/DC" in A

True

In [10]:
#list can't be a value to set
D = {'AC/DC', 'thriller', 'back in black', ['AC/DC' , 'thriller'], 76}

TypeError: unhashable type: 'list'

In [14]:
#whereas tuple gets accepted as a value to a set
E = {'AC/DC', 'thriller', 'back in black', ('AC/DC' , 'thriller'), 76}
E

{('AC/DC', 'thriller'), 76, 'AC/DC', 'back in black', 'thriller'}

In [16]:
E.discard('AC/DC')
E

{('AC/DC', 'thriller'), 76, 'back in black', 'thriller'}

In [17]:
F ={'AC/DC', 'thriller', 'back in black', ('AC/DC' , 'thriller'), 76}
F.discard(('AC/DC' , 'thriller'))
F

{76, 'AC/DC', 'back in black', 'thriller'}

Find intersection of sets<br>
we can find out intersection using '&' <br>
subset = par

In [1]:
a ={1,2,3,4,5}
b={7,3,4,9,10}

In [2]:
a & b

{3, 4}

In [4]:
#differene b/w 2 sets
#all elements which are in a not in b
a.difference(b)

{1, 2, 5}

In [5]:
#intersection of 2 sets
a.intersection(b)

{3, 4}

In [6]:
#union of 2 sets
a.union(b)

{1, 2, 3, 4, 5, 7, 9, 10}

In [7]:
#Check if superset
set(a).issuperset(b)

False

In [8]:
#Check if subset
set(a).issubset(b)

False

In [9]:
set({7,3}).issubset(b)

True

In [11]:
l =['rap','house','electronic music', 'rap']
l=set(l)
l

{'electronic music', 'house', 'rap'}

In [23]:
#check if sum(A)=sum(B)
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
if (sum(A) == sum(B)):
    print(True)
else:
    print(False)

False

In [24]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

In [26]:
album_set1.issubset(album_set3)

True