In [5]:
#This is my first python code.
print('Hello, world!')

Hello, world!

In [6]:
print('Hello, world!') #Print the traditional hello world

Hello, world!

In [7]:
#integer
11

11

In [8]:
#float
2.14

2.14

In [9]:
#string
"hello, world!"

'hello, world!'

In [10]:
#type of 12
type(12)

int

In [11]:
type(2.14)

float

In [12]:
type("hello, world!")

str

In [13]:
type(12.0)

float

In [15]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

In [16]:
#typecasting
float(2)

2.0

In [17]:
#conversion of int to float and check its type
type(float(2))

float

In [18]:
type(int(2.0))

int

In [19]:
int(1.5)

1

In [23]:
#string to int or float
int('1')

1

In [25]:
#value error
int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

In [26]:
#int to str
str(1)

'1'

In [27]:
type(True)

bool

In [28]:
#bool to int
int(True)

1

In [29]:
bool(1)

True

In [30]:
type(6/2)

float

In [31]:
# // is used for int division
type(6//2)

int

In [32]:
25/6

4.166666666666667

In [33]:
25//6

4

In [36]:
#calculation of hours in 160 minutes
160/60

2.6666666666666665

In [37]:
#mathematical expression
#BODMAS rule followed
(30 + 2) * 60

1920

In [41]:
#store values into variables
x = 43 + 60*2 +34

In [43]:
y = x // 60
y

3

In [47]:
#same variable with new value
x = x/60
x

0.05472222222222222

In [1]:
67.3425/2

33.67125

In [2]:
#value after decimal pt removed
67.3425//2

33.0